NEXT_PUBLIC_SITE_URL=https://www.nothingshop.pk
SUPABASE_URL=https://zoixreubhtforowhbltq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvaXhyZXViaHRmb3Jvd2hibHRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMDUzODQsImV4cCI6MjA4ODg4MTM4NH0.VaRL_JvZmpMF6RRSjSpRIAzuGY1hBh88NtbWIEDEMKs
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvaXhyZXViaHRmb3Jvd2hibHRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMDUzODQsImV4cCI6MjA4ODg4MTM4NH0.VaRL_JvZmpMF6RRSjSpRIAzuGY1hBh88NtbWIEDEMKs
SUPABASE_TABLE=items
